.interact-game-button {
    width: 497px;
    height: 85px;
    box-shadow: 0px 19px 65px 0px rgba(161, 159, 237, 0.21);
    border-radius: 42px;
    font-size: 36px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.interact-game-button.disabled {
    filter: grayscale(100%);
    pointer-events: none;
}