page {
    background-color: #fc2d01;
}
.alipay-page {
    .header-bg {
        .header-img {
            width: 750rpx;
            height: 355rpx;
        }
        .header-text-notice {
            color: #ffffff;
            font-weight: bold;
            font-size: 32rpx;
            margin-top: -100rpx;
            margin-left: 50rpx;
        }
    }
    .introduct-text {
        color: #FFF;
        font-weight: bold;
        font-size: 26rpx;
        margin-top: 10rpx;
        margin-left: 70rpx;
    }
    .notice-gif {
        width: 600rpx;
        height: 357rpx;
        margin-left: 75rpx;
        margin-top: 20rpx;
    }
    .introduct-margin{
        margin-left: 0;
    }
    .form-content {
        width: 590rpx;
        margin-left: 74rpx;
        background-color: #fc2d01;
        margin-top: 20rpx;
        .introduct-from {
            color: #FFF;
            font-weight: bold;
            font-size: 26rpx;
        }
        .form-bottom {
            margin-bottom: 10rpx;
        }
        .form-input {
            width: 600rpx;
            margin-bottom: 10rpx;
            margin-left: -4rpx;
            padding: 12rpx 0rpx;
            border-radius: 10rpx;
            border-width: 0rpx;
            position: unset;
            .at-input__title {
                color: #fc2d01;
                font-size: 32rpx;
                margin-left: 10rpx;
            }
            .at-input {
                border-radius: 10rpx;
            }
        }
        .alipay-button {
            background-color: #fffcaf;
            color: #fc2d01; 
            width: 650rpx;
            margin-top: 10rpx;
            height: 80rpx;
            line-height: 80rpx;
            margin-left: -20rpx;
        }
    }
}