@import "~taro-ui/dist/style/components/modal.scss";

.ay-modal__container{
    position: absolute;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:opacity 200ms ease-in;

    border-radius: 12rpx;
    background-color: #FFF;
    min-height:0;

    .ay-modal-title-body{
        padding: 24rpx;
        border-top-left-radius:20rpx;
        border-top-right-radius:20rpx;
    }

    .ay-modal-content-body{
        padding: 24rpx;
        min-height: 0rpx;

        .layout-body__content{
            min-height: 0rpx;
        }
    }

    .ay-modal-bottom-body{
        width: 100%;
        padding:24rxp;
    }

}