.container {
    height: 466px;
}
.content {
    padding-top: 35px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.task-item {
    width: 511px;
    height: 88px;
    box-sizing: border-box;
	background-color: #ffffff;
	border-radius: 20px;
    padding-left: 30px;
    padding-right: 37px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .desc {
        font-size: 26px;
        color: #9c9ce6;
    }
    .button {
        width: 168px;
        height: 41px;
        background-color: #b0dffe;
        border-radius: 21px;
        font-size: 24px;
        color: #ffffff;
    }
    .button.disabled {
        background-color: #cbcbcb;
    }
}

