.bg {
  background: url("../../assets/images/loading_bg.png") no-repeat;
  height: 100vh;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .arrow {
    height: 141px;
    width: 205px;
    // margin-top: 539px;
    margin-bottom: 96px;
    border: none;
  }
  .tip-text {
    width: 128px;
    font-size: 36px;
    font-weight: normal;
    line-height: 48px;
    color: #ffffff;
    margin-top: 101px;
  }
  .progress {
    width: 507px;
    height: 27px;
    background-color: #fff6fa;
    border-radius: 14px;
    border: solid 2px #9493e2;
    .progress-content {
      padding: 0 9px;
      height: 100%;
      display: flex;
      align-items: center;
      .progress-bar {
        width: 10px;
        height: 9px;
        flex-shrink: 0;
        background-color: #ffb1d6;
        border-radius: 4px;
        transition: width 0.5s;
      }
      .progress-point {
        width: 100px;
        margin-left: -16px;
        margin-top: -10px;
        flex-shrink: 0;
      }
    }
  }
  .canvas {
    height: 2px;
  }
  .bottom-tip {
    position: absolute;
    bottom: 24px;
    font-size: 26px;
    color: #ffffff;
    margin: 0 auto;
  }
}
