.content-box{
    margin-left: 36px;
    margin-top: 40px;
    background: #fff;
    width: 83%;
    border-radius: 16px;
    .sesecond-title{
      font-size: 32px;
      color: #29292C;
      margin-top: 32px;
      margin-left: 64px;
      display: flex;
      .back-icno{
        color: #29292C;
        margin-right: 22px;
        cursor: pointer;
        font-size: 36px;
      }
    }
    .content{
      width: 96%;
      background: #F7F8FA;
      margin-left: 56px;;
      height: 93%;
      border-radius: 16px;
      margin-top: 30px;
      overflow: auto;
    }
}