@font-face {
  font-family: 'iconfont';  /* project id 1951291 */
  src: url('//at.alicdn.com/t/font_1951291_gvovvi92qdf.eot');
  src: url('//at.alicdn.com/t/font_1951291_gvovvi92qdf.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1951291_gvovvi92qdf.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1951291_gvovvi92qdf.woff') format('woff'),
  url('//at.alicdn.com/t/font_1951291_gvovvi92qdf.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1951291_gvovvi92qdf.svg#iconfont') format('svg');
}
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

@font-face {
    font-family: "iconfont2"; /* project id 1999760 */
    src: url("//at.alicdn.com/t/font_1999760_m97eg7gfpqf.eot");
    src: url("//at.alicdn.com/t/font_1999760_m97eg7gfpqf.eot?#iefix")
            format("embedded-opentype"),
        url("//at.alicdn.com/t/font_1999760_m97eg7gfpqf.woff2") format("woff2"),
        url("//at.alicdn.com/t/font_1999760_m97eg7gfpqf.woff") format("woff"),
        url("//at.alicdn.com/t/font_1999760_m97eg7gfpqf.ttf") format("truetype"),
        url("//at.alicdn.com/t/font_1999760_m97eg7gfpqf.svg#iconfont")
            format("svg");
}
.iconfont2 {
    font-family: "iconfont2" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}