.activity-data-box{
    margin: 48px 48px 0 48px;
    border-radius: 16px;
    font-family: PingFangSC-Regular;
    font-size: 32px;
    color: #333333;
    .empty-data{
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .empty-data-icno{
            font-size: 180px;
            color: #0863FF;
        }
    }
    .data-top{
        display: flex;
        align-items: center;
        height: 96px;
        background: #E6E6E6;
        border-radius: 8px 8px 0px 0px;
        .data-date{
            margin-left: 144px;
            margin-right: 260px;
        }
        .join{
            margin-left: 252px;
            margin-right: 220px;
        }
        .reward{
            margin-left: 220px;
        }
    }
    .data-content{
        background: #fff;
        padding-bottom: 28px;
        height: 72vh;
        overflow-y: scroll;
        border-radius: 16px;
        .total-box{
            background: #FFF7DB;
            display: flex;
            height: 120px;
            padding-left: 148px;
            align-items: center;
            position: relative;
            &::after{
                position: absolute;
                content: '';
                height: 2px;
                width: 95%;
                background: #E6E6E6;
                bottom: 0;
                left: 2%;
            }
            .total-num{
                margin-left: 260px;
                width: 256px;
            }
            .total-join{
                margin-left: 260px;
                width: 128px;
            }
            .total-follw{
                width: 192px;
                margin: 0 220px;
            }
        }
        .data-content-tip{
            background: #fff;
            position: relative;
            padding-left: 148px;
            display: flex;
            height: 120px;
            align-items: center;
            &::after{
                position: absolute;
                content: '';
                height: 2px;
                width: 95%;
                background: #E6E6E6;
                bottom: 0;
                left: 2%;
            }
            .tip-date{
                width: 240px;
            }
            .tip-num{
                margin-left: 84px;
                width: 256px;
            }
            .tip-join{
                margin-left: 260px;
                width: 128px;
            }
            .tip-follw{
                width: 192px;
                margin: 0 220px;
            }
        }
        .data-content-bottom{
            display: flex;
            justify-content: flex-end;
            font-size: 28px;
            color: #333333;
            margin-top: 40px;
            .pre-page{
                cursor: pointer;
            }
            .next-page{
                margin-right: 100px;
                margin-left: 40px;
                cursor: pointer;
            }
            .end-page{
                color: #767676;
            }
        }
    }
}