.activity-data-box{
    margin: 48px 48px 0 48px;
    border-radius: 16px;
    font-family: PingFangSC-Regular;
    font-size: 32px;
    color: #333333;
    .empty-data{
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .empty-data-icno{
            font-size: 180px;
            color: #0863FF;
        }
    }
    .col-date{
        width: 240px;
        text-align: center;
    }
    .col-num{
        width: 256px;
        text-align: center;
    }
    .col-join{
        width: 128px;
        text-align: center;
    }
    .col-follw{
        width: 192px;
        text-align: center;
    }
    .col-reward {
        width: 192px;
        text-align: center;
    }
    .data-top{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 96px;
        background: #E6E6E6;
        border-radius: 8px 8px 0px 0px;
        padding-right: 20px;
    }
    .data-content{
        background: #fff;
        padding-bottom: 28px;
        height: 72vh;
        overflow-y: auto;
        border-radius: 16px;
        .total-box{
            background: #FFF7DB;
            display: flex;
            height: 120px;
            align-items: center;
            justify-content: space-around;
            position: relative;
            &::after{
                position: absolute;
                content: '';
                height: 2px;
                width: 95%;
                background: #E6E6E6;
                bottom: 0;
                left: 2%;
            }
        }
        .data-content-tip{
            background: #fff;
            position: relative;
            display: flex;
            height: 120px;
            align-items: center;
            justify-content: space-around;
            &::after{
                position: absolute;
                content: '';
                height: 2px;
                width: 95%;
                background: #E6E6E6;
                bottom: 0;
                left: 2%;
            }
        }
        .data-content-bottom{
            display: flex;
            justify-content: flex-end;
            font-size: 28px;
            color: #333333;
            margin-top: 40px;
            .pre-page{
                cursor: pointer;
            }
            .next-page{
                margin-right: 100px;
                margin-left: 40px;
                cursor: pointer;
            }
            .end-page{
                color: #767676;
            }
        }
    }
}