.create-page{
    background: #fff;
    border-radius: 16px;
    margin: 32px 48px 0 48px;
    display: flex;
    flex-direction: column;
    font-family: PingFangSC-Regular;
    padding-left: 64px;
    padding-bottom: 42px;
    .name-box{
        display: flex;
        margin-top: 32px;
        align-items: center;
        font-size: 24px;
        color: #767676;
        position: relative;
        .name-input{
            width: 510px;
            height: 56px;
            margin: 0 32px;
            font-size: 28px;
            color: #333333;
        }
        .name-num{
            position: absolute;
            font-size: 24px;
            color: #CCCCCC;
            left: 568px;
        }
    }
    .time-txt{
        margin-right: 32px;
    }
    .time-input{
        width: 200px;
        height: 56px;
        font-size: 28px;
        color: #333333;
    }
    .time-to{
        margin: 0 16px;
    }
    .res-input{
        width: 128px;
        height: 56px;
        margin-left: 32px;
        font-size: 28px;
        color: #333333;
    }
    .unit{
        font-size: 24px;
        color: #333333;
        margin-right: 32px;
        margin-left: 8px;
    }

    .coupon-box{
        margin-top: 32px;
        .coupon-top{
            display: flex;
            align-items: center;
            font-size: 24px;
            color: #767676;
            .coupon{
                font-size: 28px;
                color: #333333;
                margin: 0 32px;
            }
            .refresh{
                font-size: 24px;
                color: #0863FF;
                cursor: pointer;
            }
        }
        .warn-bar{
            display: flex;
            width: 768px;
            height: 44px;
            background: rgba(245,166,35,0.20);
            margin-left: 128px;
            margin-top: 16px;
            align-items: center;
            .warn-icno{
                color: red;
                margin-left: 18px;
                margin-top: 10px;
                margin-right: 8px;
                font-size: 36px;
            }
            .warn-txt{
                font-size: 24px;
                color: #FF6100;
            }
        }
        .coupon-img-box{
            margin-top: 16px;
            margin-left: 128px;
            display: flex;
            align-items: center;
            .coupon-jump{
                width: 360px;
                height: 160px;
                border: 2px solid #CCCCCC;
                margin-right: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .iconfont{
                    font-size: 36px;
                    color: #767676;
                }
                .jump-txt{
                    font-size: 24px;
                    color: #767676;
                    margin-left: 18px;
                }
            }
            .coupon-middle-box{
                max-height: 368px;
                overflow-y: scroll;
                max-width: 2164px;
            }
            .coupon-mid-box{
                display: flex;
                flex-wrap: wrap;
                .coupon-box-content{
                    background: #FFFFFF;
                    margin-right: 48px;
                    width: 360px;
                    height: 160px;
                    border: 2px solid #CCCCCC;
                    margin-bottom: 20px;
                    .coupon-top{
                        display: flex;
                        align-items: center;
                        padding-top: 16px;
                        padding-left: 16px;
                        .coupon-price{
                            font-size: 40px;
                            color: #0863FF;
                            width: 120px;
                        }
                        .coupon-info{
                            margin-left: 70px;
                            font-size: 24px;
                            color: #333333;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            .info-limit{
                                color: #767676;
                                margin-top: 8px;
                            }
                        }
                    }
                    .coupon-time{
                        margin-top: 40px;
                        margin-left: 24px;
                        font-size: 20px;
                        color: #767676;
                    }
                }
            }

        }
    }
    .rules-box{
        margin-top: 32px;
        font-size: 24px;
        color: #767676;
        display: flex;
        .rules-content{
            color: #333333;
            margin-left: 32px;
            width: 876px;
            display: flex;
            flex-direction: column;
            line-height: 40px;
            Text{
                font-family: PingFangSC-Regular;
            }
        }
    }
    .create-bottom{
        margin-top: 48px;
        padding-left: 128px;
        display: flex;
        .edit-box{
            display: flex;
        }
        .sure-btu{
            width: 252px;
            height: 84px;
            background: #0863FF;
            border-radius: 22px;
            color: #fff;
            line-height: 84px;
            text-align: center;
            cursor: pointer;
        }
        .give-up{
            width: 252px;
            height: 84px;
            border: 2px solid #0863FF;
            border-radius: 22px;
            font-size: 36px;
            color: #0863FF;
            line-height: 84px;
            text-align: center;
            background: #fff;
            margin-left: 80px;
            cursor: pointer;
        }
    }
}











