.all-activity-bottom{
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    color: #333333;
    margin-top: 40px;
    .pre-page{
        cursor: pointer;
    }
    .next-page{
        margin-right: 100px;
        margin-left: 40px;
        cursor: pointer;
    }
    .end-page{
        color: #767676;
    }
}