.container {
    width: 551px;
    height: 464px;
    .header {
        height: 0;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            font-size: 46px;
            color: #9c9ce6;
            margin: 74px 0 68px;
        }
        .desc {
            font-size: 28px;
            color: #9c9ce6;
            text-align: center;
        }
        .btn {
            width: 368px;
            height: 67px;
            background-color: #b0dffe;
            box-shadow: 0px 19px 65px 0px rgba(208, 159, 176, 0.15);
            border-radius: 33px;
            margin-top: 77px;
            font-size: 40px;
            color: #ffffff;
        }
    }
}
