.header {
    width: 550px;
}
.win-header {
    margin-top: 68px;
    background: url("http://q.aiyongbao.com/interact/win_title.png") no-repeat;
    background-size: 100% 100%;
    height: 275px;
}
.lose-header {
    margin-top: 102px;
    background: url("http://q.aiyongbao.com/interact/lose_title.png") no-repeat;
    background-size: 100% 100%;
    height: 241px;
}

.success-tip {
    margin-top: 55px;
    font-size: 60px;
    color: #ffffff;
}
.fail-tip {
    margin-top: 85px;
    font-size: 40px;
    line-height: 43px;
    text-align: center;
    color: #ffffff;
}
.prize-desc {
    margin-top: 46px;
    font-size: 40px;
    line-height: 43px;
    color: #ffffff;
    text-align: center;
    .prize-num {
        font-size: 60px;
    }
}

.use-button {
    width: 340px;
    height: 100px;
    position: absolute;
    top: 315px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #9dd6fd;
    border-radius: 50px;
    border: solid 2px #ffb9da;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
        font-size: 50px;
        color: #ffffff;
    }
}
.container {
    min-height: 1154px;
    background: url("http://q.aiyongbao.com/interact/result_bg.png") no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    width: 510px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 530px;
}
.footer {
    margin-top: 70px;
    width: 66px;
}
