.header {
    width: 550px;
}
.win-header {
    margin-top: 68px;
    background: url("http://q.aiyongbao.com/interact/win_title.png") no-repeat;
    background-size: 100% 100%;
    height: 275px;
}
.lose-header {
    margin-top: 102px;
    background: url("http://q.aiyongbao.com/interact/lose_title.png") no-repeat;
    background-size: 100% 100%;
    height: 241px;
}

.success-tip {
    margin-top: 35px;
    font-size: 60px;
    color: #ffffff;
}
.fail-tip {
    margin-top: 65px;
    font-size: 40px;
    line-height: 43px;
    text-align: center;
    color: #ffffff;
}
.prize-desc {
    margin-top: 46px;
    font-size: 40px;
    line-height: 43px;
    color: #ffffff;
    text-align: center;
    .prize-num {
        font-size: 60px;
    }
}

.button-group {
    position: absolute;
    top: 335px;
    display: flex;
    justify-content: center;
    .exchange {
        width: 340px;
        height: 100px;
        margin-top: -20px;
        background-color: #9dd6fd;
        border-radius: 50px;
        border: solid 2px #ffb9da;
        font-size: 50px;
        color: #ffffff;
    }
    .gametimes {
        width: 225px;
        height: 70px;
        background-color: #ffffff;
        box-shadow: 0px 19px 65px 0px rgba(194, 78, 132, 0.21);
        border-radius: 35px;
        font-size: 30px;
        color: #f391b8;
    }
    .gametimes.big {
        width: 423px;
        height: 98px;
        box-shadow: 0px 19px 65px 0px rgba(194, 78, 132, 0.21);
        border-radius: 48px;
        font-size: 42px;
    }
    .again {
        width: 225px;
        height: 70px;
        background-color: #ffffff;
        box-shadow: 0px 19px 65px 0px rgba(194, 78, 132, 0.21);
        border-radius: 35px;
        font-size: 30px;
        color: #f391b8;
        margin-left: 31px;
    }
}
.container {
    min-height: 1154px;
    background: url("../../assets/images/result_bg.png") no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    width: 510px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 530px;
}
.footer {
    margin-top: 70px;
    width: 66px;
}
