.activity-box{
    margin-left: 34px;
    margin-top: 40px;
    display: flex;
    .activity-card{
        display: flex;
        flex-direction: column;
        width: 632px;
        height: 696px;
        background-color: #FFFFFF;
        font-family: PingFangSC-Semibold;
        padding-left: 48px;
        padding-top: 64px;
        padding-right: 66px;
        border-radius: 16px;
        align-items: left;
        box-sizing: border-box;
        .activity-title{
            font-size: 32px;
            color: #000000;
            letter-spacing: 0;
            text-align: center;
            font-weight: 800;
        }
        .activity-tips{
            display: flex;
            margin-top: 18px;
            .tip{
                background: rgba(61,127,255,0.20);
                font-size: 24px;
                color: #3D7FFF;
                text-align: center;
                margin-right: 16px;
                padding: 4px 16px;
            }
        }
        .instructions{
            margin-top: 48px;
            display: flex;
            flex-direction: column;
            font-family: PingFangSC-Regular;
            .instructions-title{
                font-size: 28px;
            }
            .instructions-info{
                font-size: 26px;
                color: #000000;
                letter-spacing: 0;
                margin-top: 32px;
            }
        }
        .activity-bottom{
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            margin-top: 44px;
            .create-activity{
                background: #0863FF;
                border-radius: 22px;
                width: 252px;
                height: 84px;
                color: #fff;
                font-size: 36px;
                line-height: 84px;
                text-align: center;
                cursor: pointer;
            }
            .help{
                display: flex;
                font-size: 24px;
                cursor: pointer;
                .icno-help{
                    color: red;
                    margin-right: 5px;
                    font-size: 28px;
                }
                .txt-help{
                    color: #FA155D;
                }
            }
        }
    }
}