.container {
    width: 551px;
    height: 600px;
    background-color: #ffebf2;
    border-radius: 40px;
    border: solid 7px #fdb8da;
}
.header {
    width: 551px;
    height: 81px;
    background-color: #fdb8da;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    .header-wrapper {
        display: flex;
        justify-content: center;
        .heart-left {
            width: 16px;
            margin-top: 36px;
            transform: rotate(-45deg);
        }
        .heart-right {
            width: 22px;
            margin-top: 10px;
            transform: rotate(45deg);
        }
        .text {
            font-size: 44px;
            color: #ffffff;
            height: 81px;
            line-height: 81px;
        }
    }
    .close-btn {
        position: absolute;
        left: 511px;
        top: 0px;
        width: 66px;
    }
}